CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Bluetooth
CONFIG_BT_ENABLED=y
CONFIG_BT_BTC_TASK_STACK_SIZE=32768
CONFIG_BT_BLE_DYNAMIC_ENV_MEMORY=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y

# Stacks
CONFIG_ESP_IPC_TASK_STACK_SIZE=1024
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=2304

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM=y

# Bluetooth debugging options
CONFIG_BT_STACK_NO_LOG=y